<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.javaman.olcudefteri">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-sdk tools:overrideLibrary="com.muddzdev.styleabletoastlibrary"/>



    <meta-data
        android:name="com.google.firebase.messaging.default_notification_icon"
        android:resource="@drawable/ic_notification" />
    <meta-data android:name="com.google.firebase.messaging.default_notification_color"
        android:resource="@color/primaryLightColor" />

    <application
        android:name=".MeasureNotebookApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:hardwareAccelerated="false"
        android:largeHeap="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon"
        tools:overrideLibrary="com.muddzdev.styleabletoastlibrary">
        <service android:name=".service.MyService" />
        <service android:name=".service.MyFirebaseIIdService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".service.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".ui.home.HomeActivity"
            android:label="@string/app_name"
            android:noHistory="true"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.dispatcher.DispatcherActivity"
            android:label="@string/app_name"
            android:theme="@style/SplashTheme"
            android:screenOrientation="portrait"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.orders.AddOrderActivity"
            android:windowSoftInputMode="stateHidden"
            android:label="@string/title_activity_customer_measure"
            android:screenOrientation="portrait"
            android:noHistory="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.orders.OrdersActivity"
            android:label="@string/title_activity_orders"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.login.LoginActivity"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.splash.SplashScreenActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme" />
        <activity
            android:name=".ui.orders.OrderDetailActivity"
            android:label=""
            android:screenOrientation="portrait"
            android:noHistory="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.tailor.TailorHomeActivity"
            android:label="@string/title_activity_tailor_home"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:noHistory="true" />
        <activity android:name=".ui.tailor.TailorOrderDetailActivity"
            android:label="Terzi detay"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:noHistory="true"/>
    </application>

</manifest>